@page
@using SynthesisAssignment.Base_classes
@using SynthesisAssignment.Manager_classes
@using Microsoft.AspNetCore.Http
@using SynthesisAssignment.Upload_classes
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/MainPage.css" />

<body>
    @if(HttpContext.Session.GetString("email") != null)
    {
        <form method="post" asp-page-handler="LogOut">
            <button type="submit" class="logBtn">Log out</button>
        </form>
    }else{
        <form method="post" asp-page-handler="LogIn">
            <button type="submit" class="logBtn">Log in</button>
        </form>
    }
    <div class="types">
        <h3 class="textTypes">Upcoming tournaments</h3>
    </div>
    <section class="tournaments">
        @foreach(Tournament tournament in new TournamentManager(new UploadTournament()).Tournaments)
        {
            if(tournament.GetType() == typeof(Upcoming_tournament))
            {
                <form method="post" asp-page-handler="InfoUpcoming" asp-route-id="@tournament.Id">
                <div class="box">
                    <h2 class="typeSport">Sport type: @tournament.SportType</h2>
                    <h3 class="desc">Description</h3>
                    <div class="descBox">
                        <h4 class="description">@tournament.Description</h4>
                    </div>
                    <h3 class="minPlayers">Min players: @tournament.MinPlayers</h3>
                    <h3 class="maxPlaeyrs">Max players: @tournament.MaxPlayers</h3>
                    <button type="submit" class="info">Info</button>
                </div>
                </form>
            }
        }
    </section>
     <div class="types">
        <h3 class="textTypes">Ongoing tournaments</h3>
    </div>
    <section class="tournaments">
        @foreach(Tournament tournament in new TournamentManager(new UploadTournament()).Tournaments)
        {
            if(tournament.GetType() == typeof(Ongoing_tournament))
            {
                <form method="post" asp-page-handler="InfoOngoing" asp-route-id="@tournament.Id">
                <div class="box">
                    <h2 class="typeSport">Sport type: @tournament.SportType</h2>
                    <h3 class="desc">Description</h3>
                    <div class="descBox">
                        <h4 class="description">@tournament.Description</h4>
                    </div>
                    <h3 class="minPlayers">Min players: @tournament.MinPlayers</h3>
                    <h3 class="maxPlaeyrs">Max players: @tournament.MaxPlayers</h3>
                    <button type="submit" class="info">Info</button>
                </div>
                </form>
            }
        }
    </section>
    <div class="types">
        <h3 class="textTypes">Past tournaments</h3>
    </div>
    <section class="tournaments">
        @foreach(Tournament tournament in new TournamentManager(new UploadTournament()).Tournaments)
        {
            if(tournament.GetType() == typeof(Past_tournament))
            {
                <form method="post" asp-page-handler="InfoPast" asp-route-id="@tournament.Id">
                <div class="box">
                    <h2 class="typeSport">Sport type: @tournament.SportType</h2>
                    <h3 class="desc">Description</h3>
                    <div class="descBox">
                        <h4 class="description">@tournament.Description</h4>
                    </div>
                    <h3 class="minPlayers">Min players: @tournament.MinPlayers</h3>
                    <h3 class="maxPlaeyrs">Max players: @tournament.MaxPlayers</h3>
                    <button type="submit" class="info">Info</button>
                </div>
                </form>
            }
        }
    </section>
    <div class="types">
        <h3 class="textTypes">Canceled tournaments</h3>
    </div>
    <section class="tournaments">
        @foreach(Tournament tournament in new TournamentManager(new UploadTournament()).Tournaments)
        {
            if(tournament.GetType() == typeof(Canceled_tournament))
            {
                <form method="post" asp-page-handler="InfoCancel" asp-route-id="@tournament.Id">
                <div class="box">
                    <h2 class="typeSport">Sport type: @tournament.SportType</h2>
                    <h3 class="desc">Description</h3>
                    <div class="descBox">
                        <h4 class="description">@tournament.Description</h4>
                    </div>
                    <h3 class="minPlayers">Min players: @tournament.MinPlayers</h3>
                    <h3 class="maxPlaeyrs">Max players: @tournament.MaxPlayers</h3>
                    <button type="submit" class="info">Info</button>
                </div>
                </form>
            }
        }
    </section>
</body>
